body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open-Sans', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

main {
    position: relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

body {
    background-color: #643c9f;
    background-image: url("../img/bg-big.webp");
    background-image: -webkit-image-set(
            url("../img/bg-small.webp") 1x,
            url("../img/bg-big.webp") 2x);
    background-image: image-set(
            url("../img/bg-small.webp") 1x,
            url("../img/bg-big.webp") 2x);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    image-rendering: pixelated;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    background-size: cover;
}

#vanta {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    padding-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    border: 1px solid #fff;
    box-shadow: rgb(28 32 93 / 24%) 0 2px 8px 0;
}

header > h1 {
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: .3em .6em;
    border: 1px solid #fffa;
    backdrop-filter: blur(10px) saturate(460%) contrast(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(160%);
}

header > strong {
    margin: 1em 0;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
}

ul > li {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(80%) contrast(190%);
    -webkit-backdrop-filter: blur(10px) saturate(80%) contrast(190%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0 2px 8px 0;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

a {
    color: #fff;
    text-decoration: none;
}
